entrypoint = "main.py"
modules = ["python-3.8:v2-20230907-3d66d15"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "gobject-introspection", "gtk3", "libxcrypt", "pkg-config", "qhull", "tcl", "tk", "xsimd"]

[env]
LANG = "en_US.UTF-8"

[workflows]
runButton = "Straggling"

[[workflows.workflow]]
name = "Resolution"
mode = "sequential"
author = 3421973

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 resolution.py"

[[workflows.workflow]]
name = "Straggling"
mode = "sequential"
author = 3421973

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 straggling.py"

[[workflows.workflow]]
name = "Dispersion"
mode = "sequential"
author = 3421973

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python dispersion.py"

[[workflows.workflow]]
name = "Wavelength"
mode = "sequential"
author = 3421973

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 wavelength.py"
